.slick-btn {
	position: absolute;
	top: 50%;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: transparent;
	font-family: "icomoon" !important;
	transition: all .3s;
	cursor: pointer;
	&:hover {
		background-color: $color-main;
	}
}

.slick-next {
	right: 0;
	&::before {
		content: "\f105";
		color: white;
	}
}

.slick-prev {
	left: 0;
	&::before {
		content: "\f104";
		color: white;
	}
}

.slick-disabled {
	cursor: default;
	&:hover {
		background-color: transparent;
	}
}


.slider-news-prev,
.slider-news-next {
	top: 90%;
	border: 1px solid #dadada;
}

.slider-news-prev {
	left: 46%;
	&::before {
		content: "\f104";
		color: #dadada;
	}
}

.slider-news-next {
	right: 46%;
	&::before {
		content: "\f105";
		color: #dadada;
	}
}