$color-main: #ffc222;

/////////////////
/////////////////
// Ширина контентной части ============================
$container-width: 1170;
// Ширина контентной части ============================
/////////////////
/////////////////

.btn {
	font-family: $font-title;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.35px;
	color: black;
	transition: all .3s;
	border: 1px solid $color-main;
	border-right-width: 20px;
	padding: 7px 20px;
	position: relative;
	&:hover {
		background-color: $color-main;
	}
	&::after {
		content: "\f105";
		font-family: "icomoon" !important;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -12px;
	}
}
